<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <h1>Edit your chat!</h1>
    <form method="post" action="/chats/<%=chat._id%>?_method=put">
        <p><b>Chat Id:</b><%=chat._id%></p>
        <p>This chat was send from <b><%=chat.from%></b> to <b><%=chat.to%><b></p>
        <textarea type="text" name="msg" rows="10" col="20"><%=chat.msg%></textarea>
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>